<div class="card img-fluid" style="max-width:100%; height: auto">
    <img class="card-img-top" src="image/pkl4.jpg" alt="Card image" style="opacity:0.5">
    <div class="card-img-overlay">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                {{!-- <h6 class="m-0 font-weight-bold text-primary">Tất cả sách</h6> --}}
                <h3>DS Employer
                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search float-right">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </h3>


            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>_id</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone No</th>
                                <th>Wallet balance</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each nguoidungs}}
                            <tr>
                                <td>
                                    <a>
                                        {{tenNguoiDung}}
                                    </a>
                                </td>
                                <td>{{email}}</td>
                                <td>{{matKhau}}</td>
                                <td>{{sdt}}</td>
                                <td>{{soDu}}</td>
                                <td>
                                    <a href=""><i class="fas fa-pen" aria-hidden="true"></i></a>
                                    &nbsp; &nbsp;
                                    <a href="" onclick="return confirm('Are you sure to delete this record ?');"><i
                                            class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>

                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination float-right">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>